{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}
{% block content %}
    <div class="container-xl d-flex align-items-center justify-content-center h" style="height: 100vh;">
        <div class="w-50 h-auto p-3">
            <h2>Log In</h2>
            <form method="post">
                {% csrf_token  %}
                {{ form|crispy }}
                <p>Don't have an account? Register <a href="{% url 'register' %}">here</a>.</p>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
{% endblock content %}