{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log In{% endblock title %}
{% block content %}
    
    <div class="container-xl flex-row d-flex align-items-center justify-content-center flex" style="height: 100vh;">
        <div class="bg-success.bg-gradient w-auto h-75 flex-row d-flex align-items-center justify-content-center">
            <img src="{% static 'images/window-rain.gif' %}" class="w-75 rounded" alt="cactus">
        </div>
        <div class="w-50 h-100 p-3 flex-column d-flex align-items-center justify-content-center">
            {% if not user.is_authenticated %}
                {% if not user.is_authenticated %}
                    {% if request.GET %}
                        <div class="alert alert-danger h-auto fade show" role="alert">
                            <strong>Ayo there!</strong> You must be logged in to access Stilbe!
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <h2>Log In</h2>
            <form method="post" class="h-50 w-75">
                {% csrf_token  %}
                {{ form|crispy }}
                <p>Don't have an account? Register <a href="{% url 'register' %}">here</a>.</p>
                <div class="d-grid gap-2"><button type="submit" class="btn btn-outline-primary ">Log In</button></div>
            </form>
        </div>
    </div>
{% endblock content %}