{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Forum{% endblock %}

{% block content %}
<div class="container-xl d-flex align-items-center" style="height: 90vh;">
    <div class="w-50 h-auto p-3">
        <h1>Forum</h1>
        {% if user.is_authenticated %}
            <p>Welcome, <b>{{ user.get_username }}</b>!</p>
            <div class="d-flex flex-row w-100">    
                <form id="logout-form" class="" method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn button btn-primary">Logout</button>
                </form><div class="p-1"></div>
                <a href="{% url 'home' %}"><button class="btn button btn-primary">Create Thread</button></a>
            </div>
        {% else %}
            <script>window.location.href = "{% url 'login' %}";</script>
        {% endif %}
    </div>
    <div class="w-50 m-2 p-4 border border-primary rounded">
        <h3>Thread List</h3>
        <ul>
            {% for thread in threads %}
                <li><a href="thread/{{ thread.id }}">{{ thread.title }}</a></li>
            {% endfor %}
            
        </ul>
    </div>
    <div class="">
        {{ form }}
    </div>
</div>
{% endblock %}