{% extends 'base.html' %}

{% block title %}Forum{% endblock %}

{% block content %}
<div class="container-xl d-flex align-items-center" style="height: 100vh;">
    <div class="w-50 h-auto p-3">

        <h1>Forum</h1>
        {% if user.is_authenticated %}
            <p>Welcome, <b>{{ user.get_username }}</b>!</p>
            <form id="logout-form" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn button btn-primary">Logout</button>
            </form>
        {% else %}
            <script>window.location.href = "{% url 'login' %}";</script>
        {% endif %}
    </div>
    <div class="w-50 p-5 border border-primary rounded">
        <h3>User List</h3>
        <ul>
            {% for user in users %}
                <li>{{ user.get_username }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}