{% extends 'base.html' %}

{% block content %}
<div class="container-xl d-flex align-items-left p-3 flex-column" style="height: 100vh;">
    <h1><strong> {{ user }} </strong>: {{ title }}</h1>
    <div id="thread-content">
        <h4> {{ content }} </h4>
    </div>
    <h3>Posts:</h3>
    <div id="post-list">
        {% for post in posts %}
            <div class="border border-primary rounded m-1 p-3 w-100">
                <strong>{{ post.user }}</strong>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}